.result {
  width: 30%;
  text-align: center;
  margin-left: 20px;
  float:left;
}
.result .flag {
  display: inline-block;
  margin: 5px;
  font-size: 40px;
}
.result button {
  width: 100px;
  padding: 10px;
  display: inline-block;
  background-color: #999;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

@media screen and (max-width: 650px) {
  .result {
    width: 90%;
  }
}
