.Result {
  width: 30%;
  text-align: center;
  margin-left: 20px;
  float:left;
}
.Result .flag {
  display: inline-block;
  margin: 5px;
  font-size: 40px;
}
.Result button {
  width: 100px;
  padding: 10px;
  display: inline-block;
  background-color: #999;
  color: #fff;
  text-transform: uppercase;
  border-radius: 0;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.Result .close {
  font-size: 14px;
  cursor: pointer;
  color: #999;
}

@media screen and (max-width: 650px) {
  .result {
    width: 90%;
  }
}
